<web-app><display-name>Test servlet for CIS455</display-name><servlet><servlet-name>CalculatorServlet</servlet-name><servlet-class>edu.upenn.cis.cis455.webserver.CalculatorServlet</servlet-class></servlet><servlet-mapping><servlet-name>CalculatorServlet</servlet-name><url-pattern>/calculate/</url-pattern></servlet-mapping><servlet><servlet-name>CookieTestServlet</servlet-name><servlet-class>edu.upenn.cis.cis455.webserver.CookieTestServlet</servlet-class></servlet><servlet-mapping><servlet-name>CookieTestServlet</servlet-name><url-pattern>/cookie_test/*</url-pattern></servlet-mapping></web-app>